h1 {
    color: #007a99;
    font-family:Monotype Corsiva;
    font-size:100px;
    text-align:center;
   }

body{
     background-image: url("eef8d301c9e7b54902e41a72f130c08a.jpg");
     background-repeat: no-repeat;
     background-size: cover;
    }